/* --- ESTILOS GERAIS --- */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que o footer fique sempre no fundo */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; /* Ocupa o espaço restante entre o header e o footer */
  padding: 20px;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: center;
  height: 250px;
  position: relative;
  background-color: #7c7c7c;
  background-image: url("./chuttersnap-Q_KdjKxntH8-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}

.main-title {
  color: black;
}

.logo-link {
  position: absolute;
  left: 15px;
  cursor: pointer;
}

.logo-link img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

/*butao Register*/
.link {
  font-size: 20px;
  font-weight: bold;
  color: black;
  height: fit-content;
  text-decoration: none;
  padding: 5px 10px;
}

.link:hover {
  text-decoration: underline;
  background: #d3d3d3;
  border-radius: 5px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #d3d3d3;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #555555;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #f4f4f4;
}

/* listas de datas e eventos */
.info-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-list {
  display: flex;
  gap: 5px;
  font-size: 17.5px;
  align-items: center;
}

/* horário */
.table-section {
  width: 100%;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* formulário */
.form-content {
  display: flex;
  padding: 30px;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: space-between;
  height: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 20px;
  font-weight: bold;
}

.form-input {
  width: 90%;
  height: 40px;
}

.form-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 90%;
}

.dates-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.date-row {
  display: flex;
}

.date-label {
  font-size: 20px;
}

.divider {
  height: 100%;
  border: 1px solid black;
}

.reviews-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  overflow-y: scroll;
  gap: 15px;
}

.reviews-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80px;
  border: 1px solid rgb(50, 50, 50);
  flex-shrink: 0;
  min-height: fit-content;
}

.review-card-text {
  font-size: 14px;
  padding: 5px;
}

.review-card-title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

/* registo concluído */
.done-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  gap: 50px;
}

/* RODAPÉ */
.main-footer {
  padding: 2px;
  background-color: #333333bf;
  color: white;
  text-align: center;
}
