/* --- ESTILOS GERAIS --- */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que o footer fique sempre no fundo */
  margin: 0;
  font-family: Arial, sans-serif;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; /* Ocupa o espaço restante entre o header e o footer */
  padding: 20px;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  background-color: #7c7c7c; 
  background-size: cover;
  background-position: center;
  color: white;
}

.logo-link {
  position: absolute;
  right: 15px;
}

.logo-link img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}
.main-nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f4f4f4;
}

/*butao Register*/
.btn {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* Dates e Previous Events */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que as colunas desçam em ecrãs pequenos */
  gap: 20px;
  margin-bottom: 20px;
}

.column {
  flex: 1; /* Faz as colunas terem a mesma largura */
  min-width: 250px; /* Se o ecrã for pequeno, as colunas ficam empilhadas */
}

.square-list {
  list-style-type: square;
}

/* Timeline */
.table-section {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* RODAPÉ */
.main-footer {
  padding: 10px;
  background-color: #333;
  color: white;
  text-align: center;
}